@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Playpen+Sans+Arabic:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Playpen+Sans+Arabic:wght@100..800&display=swap");

:root {
    --main-color: #502145;
    --shadow-color: #7a4a6d;
    --second-color: #f6f2f4;
    --third-color: #d8cfc4;
    --fourth-color: #c9a24d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: cairo;
    direction: rtl;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 200px;
    padding-right: 200px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .contanier {
        width: 750px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .contanier {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .contanier {
        width: 1170px;
    }
}
/*start header style*/
header {
    background-color: var(--main-color);
    height: 60px;
    border-bottom: 1px solid var(--third-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(135deg, #502145, rgba(255, 255, 255, 0.2));
    
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container a:first-child img { 
    height: 59px;
    
}

.change-color {
    
    height: 100%;
    background-color: white;
    position: absolute;
    right:  0;
    z-index: -10;
    animation: header-color 10s ease infinite;
    background: linear-gradient(65deg, rgba(255, 255, 255, 0.2), #502145);
}

@keyframes header-color {
    0% {width: 0px;}
    50% {width: 100%;}
    100% {width: 0px;}
}
header .container .social {
    display: flex;
    justify-content: space-between;
}

header .container .social i {
    margin: 7px;
    font-size: 17px;
    display: flex;
    width: 35px;
    height: 35px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0 3px 5px var(--shadow-color);
}

.face {
    background-color: #0866ff;
}
.whats {
    background-color: #25d366;
}
.insta {
    background-color: #c81e4d;
}
.tiktok {
    background-color: black;
}
.container .social i:hover {
    scale: 1.1;
}

/*end header style*/

/*start interface style*/
.interface {
    padding: 40px 0;
    background-color: var(--second-color);
    border-bottom: 1px solid var(--main-color);
}

.interface .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .interface .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.interface .container .inter-img img {
    border-radius: 10px;
    box-shadow: 0 0 20px 5px var(--shadow-color);
    width: 300px;
    
}

@media (max-width: 768px) {
    .interface .container .inter-img img {
        margin-bottom: 25px;
    }
}

.interface .container .inter-disc {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interface .container .inter-disc h1 {
    color: var(--main-color);
    font-size: 35px;
    font-weight: 900;
    padding-bottom: 5px;
    direction: ltr;
}

@media (max-width: 768px) {
    .interface .container .inter-disc h1 {
        font-size: 25px;
    }
    .interface .container .inter-disc h2 {
        font-size: 15px;
    }
}

.interface .container .inter-disc h2 {
    font-size: 20px;
    padding-bottom: 20px;
}

/*end interface style*/

/*start ours style*/
.ours {
    padding-top: 20px;
}

.ours h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    margin-bottom: 5px;
}

.ours p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}

.ours .container .all {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 40px;
}

@media (max-width: 768px) {
    .ours .container .all {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}


@keyframes float {
    0% {transform: translateY(0); box-shadow: 0 0 10px 5px var(--shadow-color);}
    50% {transform: translateY(-8px); box-shadow: 0 0 10px 10px var(--shadow-color);}
    100% {transform: translateY(0); box-shadow: 0 0 10px 5px var(--shadow-color);}
}

.container .all .drink {
    padding-bottom: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    transition: 0.3s;
    margin: 20px auto;
    overflow: hidden;
    width: 300px;
    animation: float 2s linear infinite;
    font-family: Almarai;
}

@media (max-width: 768px) {
    .container .all .drink {
        width: 80%;
        height: 380px;
        padding-bottom: 2px;
        transition: 0.4s;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

.ours .container .all .drink:hover {
    scale: 1.03;
}

@media (max-width: 768px) {
    .ours .container .all .drink:hover {
        scale: 1.05;
    }
}

.container .all .drink img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .container .all .drink img {
        height: 250px;
        width: 90%;
    }
}

.container .all .drink h3 {
    font-size: 25px;
    font-weight: 700;
    color: var(--main-color);
    margin: 10px auto;
}

@media (max-width: 768px) {
    .container .all .drink h3 {
        font-size: 25px;
        width: 100%;
        background-color: var(--main-color);
        color: white;
        padding: 15px;
    }

    /* start footer style*/
}

footer {
    margin-top: 30px;
    background-color: var(--main-color);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--second-color);
}

footer .foot {
    text-align: center;
}

@media (max-width: 768px) {
    footer {
        padding-right: 20px;
        padding-left: 5px;
    }
}

footer .foot h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}

footer .foot p {
    font-weight: 600;
    font-size: 20;
    margin-bottom: 70px;
}

footer .foot button {
    background-color: white;
    border: none;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px 5px var(--shadow-color);
    transition: 0.4s;
    border: 1px solid white;
}

footer .foot button:hover {
    scale: 1.05;
    background-color: var(--shadow-color);
}

footer .foot button a {
    color: var(--main-color);
    font-size: 15px;
    font-weight: 500;
    transition: 0.4s;
}

footer .foot button a:hover {
    color: white;
}

footer .social i {
    margin: 7px;
    font-size: 17px;
    display: flex;
    width: 35px;
    height: 35px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0 0 6px white;
}

@media (max-width: 768px) {
    footer .social i {
        display: none;
    }
}

footer .social i:nth-child(1) {
    background-color: #0866ff;
}

footer .social i:nth-child(2) {
    background-color: #25d366;
}

footer .social i:nth-child(3) {
    background-color: #c81e4d;
}

footer .social i:nth-child(4) {
    background-color: black;
}

footer .social i:hover {
    scale: 1.2;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    box-shadow: 0 0 5px var(--second-color);
    color: white;
}

@media (max-width: 768px) {
    .whatsapp {
        left: 15px;
        bottom: 15px;
        font-size: 25px;
    }
}

.whatsapp:hover {
    scale: 1.2;
}

/*end ours style*/